NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://mongo:27017/meal-easy
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com
MAC_IP=your.mac.mini.ip
CLIENT_URL=http://localhost:3000
