NODE_ENV=development
PORT=5001
MONGO_URI=mongodb://mongo:27017/meal-easy
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com
CLIENT_URL=http://localhost:3000
